body{
    overflow: hidden !important;
    z-index: 999999;
}
.c1{
    width: 25%;
}
.c2{
    width: 35%;
}
.c3{
    width: 20%;
}
.c4{
    width: 20%;
}
/* .c5{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
} */
.icons{
    width: 27px;
    cursor: pointer;
}

.imgFoto{
    width: 75px;
    height: 100px;
    border: 1px solid #888;
    border-radius: 5px;
}
